In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [4]:
Shop

mall.models.Shop

# Create

In [5]:
shop = Shop() #FirstShop(0), first_shop(x), firstShop(x), first_Shop(x)
shop.name = "투썸플레이스"
shop.telephone = "042-123-1234"

In [6]:
shop.save()

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-123-1234', '', '2021-12-01 06:40:55.474802', '2021-12-01 06:40:55.474802'); args=['투썸플레이스', '', '042-123-1234', '', '2021-12-01 06:40:55.474802', '2021-12-01 06:40:55.474802']

In [7]:
shop = Shop.objects.create(
    name = "셀프24시빨래방",
    telephone = "042-1234-4321",
)
shop

(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:40:55.514684', '2021-12-01 06:40:55.514684'); args=['셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:40:55.514684', '2021-12-01 06:40:55.514684']

# Select

In [8]:
qs = Shop.objects.all()

In [9]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-123-1234
2 셀프24시빨래방 042-1234-4321
1 투썸플레이스 042-123-1234

In [10]:
qs.order_by("-id") # , "created_at" 정렬은 가급적 단일 컬럼을 쓰세요

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

## 데이터 뻥튀기

In [15]:
for i in range(1,101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:24.578048', '2021-12-01 06:45:24.578048'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:24.578048', '2021-12-01 06:45:24.578048']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:24.604977', '2021-12-01 06:45:24.604977'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:24.604977', '2021-12-01 06:45:24.604977']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:24.623973', '2021-12-01 06:45:24.623973'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:24.623973', '2021-12-01 06:45:24.623973']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:24.645025', '2021-12-01 06:45:24.645025'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:24.645025', '2021-12-01 06:45:24.645025']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:24.659441', '2021-12-01 06:45:24.659441'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:24.659441', '2021-12-01 06:45:24.659441']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:24.676408', '2021-12-01 06:45:24.676408'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:24.676408', '2021-12-01 06:45:24.676408']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:24.696007', '2021-12-01 06:45:24.696007'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:24.696007', '2021-12-01 06:45:24.696007']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:24.710892', '2021-12-01 06:45:24.710892'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:24.710892', '2021-12-01 06:45:24.710892']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:24.729986', '2021-12-01 06:45:24.729986'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:24.729986', '2021-12-01 06:45:24.729986']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:24.749276', '2021-12-01 06:45:24.749276'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:24.749276', '2021-12-01 06:45:24.749276']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:24.771107', '2021-12-01 06:45:24.771107'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:24.771107', '2021-12-01 06:45:24.771107']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:24.789100', '2021-12-01 06:45:24.789100'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:24.789100', '2021-12-01 06:45:24.789100']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:24.808076', '2021-12-01 06:45:24.808076'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:24.808076', '2021-12-01 06:45:24.808076']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:24.827837', '2021-12-01 06:45:24.827837'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:24.827837', '2021-12-01 06:45:24.827837']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:24.845959', '2021-12-01 06:45:24.845959'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:24.845959', '2021-12-01 06:45:24.845959']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:24.863599', '2021-12-01 06:45:24.863599'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:24.863599', '2021-12-01 06:45:24.863599']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:24.881620', '2021-12-01 06:45:24.881620'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:24.881620', '2021-12-01 06:45:24.881620']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:24.896051', '2021-12-01 06:45:24.896051'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:24.896051', '2021-12-01 06:45:24.896051']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:24.911950', '2021-12-01 06:45:24.911950'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:24.911950', '2021-12-01 06:45:24.911950']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:24.929192', '2021-12-01 06:45:24.929192'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:24.929192', '2021-12-01 06:45:24.929192']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:24.943122', '2021-12-01 06:45:24.943122'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:24.943122', '2021-12-01 06:45:24.943122']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:24.959271', '2021-12-01 06:45:24.959271'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:24.959271', '2021-12-01 06:45:24.959271']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:24.980217', '2021-12-01 06:45:24.980217'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:24.980217', '2021-12-01 06:45:24.980217']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:24.999332', '2021-12-01 06:45:24.999332'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:24.999332', '2021-12-01 06:45:24.999332']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:25.018304', '2021-12-01 06:45:25.018304'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:25.018304', '2021-12-01 06:45:25.018304']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:25.037237', '2021-12-01 06:45:25.037237'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:25.037237', '2021-12-01 06:45:25.037237']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:25.051772', '2021-12-01 06:45:25.051772'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:25.051772', '2021-12-01 06:45:25.051772']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:25.064826', '2021-12-01 06:45:25.064826'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:25.064826', '2021-12-01 06:45:25.064826']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:25.084808', '2021-12-01 06:45:25.084808'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:25.084808', '2021-12-01 06:45:25.084808']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:25.105798', '2021-12-01 06:45:25.105798'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:25.105798', '2021-12-01 06:45:25.105798']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:25.127838', '2021-12-01 06:45:25.127838'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:25.127838', '2021-12-01 06:45:25.127838']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:25.144792', '2021-12-01 06:45:25.144792'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:25.144792', '2021-12-01 06:45:25.144792']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:25.163425', '2021-12-01 06:45:25.163425'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:25.163425', '2021-12-01 06:45:25.163425']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:25.178385', '2021-12-01 06:45:25.178385'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:25.178385', '2021-12-01 06:45:25.178385']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:25.199331', '2021-12-01 06:45:25.199331'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:25.199331', '2021-12-01 06:45:25.199331']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:25.214334', '2021-12-01 06:45:25.214334'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:25.214334', '2021-12-01 06:45:25.214334']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:25.229294', '2021-12-01 06:45:25.229294'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:25.229294', '2021-12-01 06:45:25.229294']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:25.245938', '2021-12-01 06:45:25.245938'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:25.245938', '2021-12-01 06:45:25.245938']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:25.259356', '2021-12-01 06:45:25.259356'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:25.259356', '2021-12-01 06:45:25.259356']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:25.278179', '2021-12-01 06:45:25.278179'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:25.278179', '2021-12-01 06:45:25.278179']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:25.300507', '2021-12-01 06:45:25.300507'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:25.300507', '2021-12-01 06:45:25.300507']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:25.320591', '2021-12-01 06:45:25.320591'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:25.320591', '2021-12-01 06:45:25.320591']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:25.338391', '2021-12-01 06:45:25.338391'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:25.338391', '2021-12-01 06:45:25.338391']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:25.361788', '2021-12-01 06:45:25.361788'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:25.361788', '2021-12-01 06:45:25.361788']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:25.375761', '2021-12-01 06:45:25.375761'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:25.375761', '2021-12-01 06:45:25.375761']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:25.391805', '2021-12-01 06:45:25.391805'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:25.391805', '2021-12-01 06:45:25.391805']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:25.411121', '2021-12-01 06:45:25.411121'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:25.411121', '2021-12-01 06:45:25.411121']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:25.432839', '2021-12-01 06:45:25.432839'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:25.432839', '2021-12-01 06:45:25.432839']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:25.449949', '2021-12-01 06:45:25.449949'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:25.449949', '2021-12-01 06:45:25.449949']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:25.465775', '2021-12-01 06:45:25.465775'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:25.465775', '2021-12-01 06:45:25.465775']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:25.478824', '2021-12-01 06:45:25.478824'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:25.478824', '2021-12-01 06:45:25.478824']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:25.497894', '2021-12-01 06:45:25.497894'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:25.497894', '2021-12-01 06:45:25.497894']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:25.514138', '2021-12-01 06:45:25.514138'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:25.514138', '2021-12-01 06:45:25.514138']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:25.527891', '2021-12-01 06:45:25.527891'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:25.527891', '2021-12-01 06:45:25.527891']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:25.542811', '2021-12-01 06:45:25.542811'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:25.542811', '2021-12-01 06:45:25.542811']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:25.562026', '2021-12-01 06:45:25.562026'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:25.562026', '2021-12-01 06:45:25.562026']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:25.582094', '2021-12-01 06:45:25.582094'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:25.582094', '2021-12-01 06:45:25.582094']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:25.598169', '2021-12-01 06:45:25.598169'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:25.598169', '2021-12-01 06:45:25.598169']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:25.611170', '2021-12-01 06:45:25.611170'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:25.611170', '2021-12-01 06:45:25.611170']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:25.624853', '2021-12-01 06:45:25.624853'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:25.624853', '2021-12-01 06:45:25.624853']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:25.644512', '2021-12-01 06:45:25.644512'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:25.644512', '2021-12-01 06:45:25.644512']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:25.660670', '2021-12-01 06:45:25.660670'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:25.660670', '2021-12-01 06:45:25.660670']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:25.681063', '2021-12-01 06:45:25.681063'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:25.681063', '2021-12-01 06:45:25.681063']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:25.698529', '2021-12-01 06:45:25.698529'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:25.698529', '2021-12-01 06:45:25.698529']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:25.716051', '2021-12-01 06:45:25.716051'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:25.716051', '2021-12-01 06:45:25.716051']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:25.734010', '2021-12-01 06:45:25.734010'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:25.734010', '2021-12-01 06:45:25.734010']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:25.748457', '2021-12-01 06:45:25.748457'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:25.748457', '2021-12-01 06:45:25.748457']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:25.763276', '2021-12-01 06:45:25.763276'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:25.763276', '2021-12-01 06:45:25.763276']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:25.777970', '2021-12-01 06:45:25.777970'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:25.777970', '2021-12-01 06:45:25.777970']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:25.790137', '2021-12-01 06:45:25.790137'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:25.790137', '2021-12-01 06:45:25.790137']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:25.811273', '2021-12-01 06:45:25.811273'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:25.811273', '2021-12-01 06:45:25.811273']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:25.827683', '2021-12-01 06:45:25.827683'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:25.827683', '2021-12-01 06:45:25.827683']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:25.845903', '2021-12-01 06:45:25.845903'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:25.845903', '2021-12-01 06:45:25.845903']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:25.863803', '2021-12-01 06:45:25.863803'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:25.863803', '2021-12-01 06:45:25.863803']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:25.878938', '2021-12-01 06:45:25.878938'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:25.878938', '2021-12-01 06:45:25.878938']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:25.892283', '2021-12-01 06:45:25.892283'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:25.892283', '2021-12-01 06:45:25.892283']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:25.907273', '2021-12-01 06:45:25.907273'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:25.907273', '2021-12-01 06:45:25.907273']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:25.922264', '2021-12-01 06:45:25.922264'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:25.922264', '2021-12-01 06:45:25.922264']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:25.937407', '2021-12-01 06:45:25.937407'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:25.937407', '2021-12-01 06:45:25.937407']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:25.958751', '2021-12-01 06:45:25.958751'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:25.958751', '2021-12-01 06:45:25.958751']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:25.973828', '2021-12-01 06:45:25.973828'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:25.973828', '2021-12-01 06:45:25.973828']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:25.989904', '2021-12-01 06:45:25.989904'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:25.989904', '2021-12-01 06:45:25.989904']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:26.005904', '2021-12-01 06:45:26.005904'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:26.005904', '2021-12-01 06:45:26.005904']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:26.023382', '2021-12-01 06:45:26.023382'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:26.023382', '2021-12-01 06:45:26.023382']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:26.037385', '2021-12-01 06:45:26.038381'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:26.037385', '2021-12-01 06:45:26.038381']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:26.053388', '2021-12-01 06:45:26.053388'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:26.053388', '2021-12-01 06:45:26.053388']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:26.068189', '2021-12-01 06:45:26.068189'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:26.068189', '2021-12-01 06:45:26.068189']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:26.083745', '2021-12-01 06:45:26.083745'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:26.083745', '2021-12-01 06:45:26.083745']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:26.098122', '2021-12-01 06:45:26.098122'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:26.098122', '2021-12-01 06:45:26.098122']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:26.115123', '2021-12-01 06:45:26.115123'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:26.115123', '2021-12-01 06:45:26.115123']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:26.128122', '2021-12-01 06:45:26.128122'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:26.128122', '2021-12-01 06:45:26.128122']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:26.147673', '2021-12-01 06:45:26.147673'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:26.147673', '2021-12-01 06:45:26.147673']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:26.162453', '2021-12-01 06:45:26.162453'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:26.162453', '2021-12-01 06:45:26.162453']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:26.175017', '2021-12-01 06:45:26.175017'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:26.175017', '2021-12-01 06:45:26.175017']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:26.191103', '2021-12-01 06:45:26.191103'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:26.191103', '2021-12-01 06:45:26.191103']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:26.206938', '2021-12-01 06:45:26.206938'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:26.206938', '2021-12-01 06:45:26.206938']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:26.221125', '2021-12-01 06:45:26.221125'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:26.221125', '2021-12-01 06:45:26.221125']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:26.236083', '2021-12-01 06:45:26.236083'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:26.236083', '2021-12-01 06:45:26.236083']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:26.254037', '2021-12-01 06:45:26.254037'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:26.254037', '2021-12-01 06:45:26.254037']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:26.269993', '2021-12-01 06:45:26.269993'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:26.269993', '2021-12-01 06:45:26.269993']

## Slicing

In [16]:
qs = Shop.objects.all()

In [17]:
qs[:10] #first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>]>

In [18]:
qs[0:10:2] #시작 엔드 범위를 전부 가져와서 반환을 건너뛰어서 반환

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>]

In [19]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [23]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-123-1234
2 셀프24시빨래방 042-1234-4321
1 투썸플레이스 042-123-1234

## Conditions

In [24]:
qs = Shop.objects.all()

In [25]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [26]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [29]:
# lt = less than             <
# lte = less than equal      <=
# gt = greater than          >
# gte = greater than equal   >=

qs.filter(
    pk__gte=5,
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [32]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [37]:
qs1 = Shop.objects.all()
qs1 = qs.filter(pk__gte=5)
qs1 = qs.filter(pk__lt=10)

In [38]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [39]:
# Query is Lazy.

In [40]:
qs = Shop.objects.all()

In [41]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [45]:
qs = Shop.objects.all()
shop_list = list(qs)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [53]:
pk = 10
not_existed_pk = 100000

In [47]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대, 한계가 아니면 예회가 발생
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [54]:
Shop.objects.get(pk=not_existed_pk) # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [49]:
shop = Shop.objects.filter(pk = pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [55]:
Shop.objects.filter(pk=not_existed_pk)[0] #indexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [56]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생x

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions(OR)

In [58]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [59]:
from django.db.models import Q

In [60]:
Q(pk__gte=5)

In [61]:
Q(pk__lt=10)

In [62]:
Q(pk__gte=5) & Q(pk__lt=10)

In [63]:
Q(pk__gte=5) | Q(pk__lt=10)

In [64]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [66]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions != Q(pk__lt=10)

conditions

# Update Rows

## 지정 Row

In [67]:
qs=Shop.objects.all()
shop=qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [68]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [69]:
shop.telephone = "042-1234-0006"

In [71]:
shop.save()

(0.032) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:24.676408', "updated_at" = '2021-12-01 07:38:51.433291' WHERE "mall_shop"."id" = 10; args=('가게명#6', '', '042-1234-0006', '', '2021-12-01 06:45:24.676408', '2021-12-01 07:38:51.433291', 10)

## 지정 범위의 Rows

In [72]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description"
)

(0.031) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

10

In [73]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:45:24.676408', "updated_at" = '2021-12-01 07:42:02.148216' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used description', '042-1234-0006', '', '2021-12-01 06:45:24.676408', '2021-12-01 07:42:02.148216', 10)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:24.659441', "updated_at" = '2021-12-01 07:42:02.170174' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 06:45:24.659441', '2021-12-01 07:42:02.170174', 9)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:24.645025', "updated_at" = '2021-12-01 07:42:02.187112' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 06:45:24.645025', '2021-12-01 07:42:02.187112', 8)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:24.623973', "updated_at" = '2021-12-01 07:42:02.203068' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:24.623973', '2021-12-01 07:42:02.203068', 7)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:24.604977', "updated_at" = '2021-12-01 07:42:02.219024' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:24.604977', '2021-12-01 07:42:02.219024', 6)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:24.578048', "updated_at" = '2021-12-01 07:42:02.235979' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:24.578048', '2021-12-01 07:42:02.235979', 5)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:40:55.514684', "updated_at" = '2021-12-01 07:42:02.253979' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:40:55.514684', '2021-12-01 07:42:02.253979', 4)
(0.016) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-123-1234', "photo" = '', "created_at" = '2021-12-01 06:40:55.474802', "updated_at" = '2021-12-01 07:42:02.281920' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-123-1234', '', '2021-12-01 06:40:55.474802', '2021-12-01 07:42:02.281920', 3)
(0.015) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:05:05.894476', "updated_at" = '2021-12-01 07:42:02.296789' WHERE "mall_shop"."id" = 2; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:05:05.894476', '2021-12-01 07:42:02.296789', 2)
(0.016) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-123-1234', "photo" = '', "created_at" = '2021-12-01 06:02:40.227975', "updated_at" = '2021-12-01 07:42:02.311571' WHERE "mall_shop"."id" = 1; args=('투썸플레이스', 'not used description', '042-123-1234', '', '2021-12-01 06:02:40.227975', '2021-12-01 07:42:02.311571', 1)

# Delete Rows

In [11]:
# qs = Shop.objects.all()

In [12]:
# qs.delete()